# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy container app to Azure Web App - saldana-ef-app

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to container registry
        uses: docker/login-action@v2
        with:
          registry: crsaldana.azurecr.io/
          username: ${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_FF53FD34EA4243458B1F200758D687FA }}
          password: ${{ secrets.AZUREAPPSERVICE_CONTAINERPASSWORD_6A1FD6D9C9BD4AD7B305BC49DB23FC07 }}

      - name: Build and push container image to registry
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: crsaldana.azurecr.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_FF53FD34EA4243458B1F200758D687FA }}/ef-app:${{ github.sha }}
          file: ./Dockerfile

  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write #This is required for requesting the JWT
      contents: read #This is required for actions/checkout

    needs: build
    
    steps:
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_19BA359DBD744DCDA702CF87CA3456D3 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_B3B1521EBB474D59AC41DBB0EA7C0516 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_83D7715CE31E4DD28061531BB1A3E5F0 }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'saldana-ef-app'
          slot-name: 'Production'
          images: 'crsaldana.azurecr.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_FF53FD34EA4243458B1F200758D687FA }}/ef-app:${{ github.sha }}'
          